{% extends "layout.html" %}

{% block content %}
<body>
    <div class="vh-80 d-flex justify-content-center align-items-center">
        <div class="col-md-5">
            <br>
            <h3></h3>
            <div class="input-group input-group-lg">
                <input aria-describedby="inputGroup-sizing-lg" aria-label="Sizing example input" class="form-control" id="countryInput"
                onkeyup="nameFunction()" placeholder="Search for name.." type="text">
            </div>
            <table id="header" class="table table-hover">
                <thead>
                    <tr>
                        {% for header in headings %}
                        <th scope="col">{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock%}